@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
     font-family: "Inter", sans-serif;
}
/* shared styles */
.center{
     text-align: center;
}


/* hero section's style starts here */
.hero {
     max-width: 1440px;
     height: 652px;
     border: 2px dashed rgba(128, 128, 128, 0.9);
     background-image: url("assets/Hero-bg.png");
     background-repeat: no-repeat;
     margin: 0 auto;
    
}
.contact-btn {

width: 208px;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
background-color: rgb(13, 19, 33);
color: white;
border-radius: 8px;
}
.hero-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.hero h2{
     font-size: 48px;
font-weight: 800;
margin-top: 32px;
margin-bottom: 24px;
}
.hero p{
     font-size: 16px;
     font-weight: 400;
     margin-top: 24px;
     margin-bottom: 32px;
}
.hero img{
     margin-top: 26px;
     margin-bottom: 32px;
}

/* hero section's style ends here */


/* why web development section starts here */

.why{
     max-width: 1140px;
     height: 1393px;
     background-color: (13, 19, 33, 0.02);
     margin: 74px auto 90px;
     border: 2px solid black;
}

/* why web development section ends here */

/* my inspiration style starts here */

.inspiration{
     max-width: 1140px;
     height: 775px;
     margin: 90px auto 151px;
     
}
.inspiration-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
.inspiration-container h4{
     color: rgb(13, 19, 33);
     font-size: 32px;
     font-weight: 800;
     margin-bottom: 12px;

}
.inspiration-container p{
     color: rgb(13, 19, 33);
     font-size: 16px;
     font-weight: 400;
     m
}
.yt-video{
     margin-top: 48px;
     border: 2px solid rgba(128, 128, 128, 0.3);
     border-radius: 18px;
     padding: 32px;
}
 .inspiration-container iframe{   
     border-radius: 18px;
}


/* my inspiration style ends here */