@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
     font-family: "Inter", sans-serif;
}
/* shared styles */
.center{
     text-align: center;
}
.p-style{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;

}
.h-style{
     color: rgb(13, 19, 33);
     font-size: 32px;
     font-weight: 800;
}


/* hero section's style starts here */
.hero {
     max-width: 1440px;
     height: 652px;

     background-image: url("assets/Hero-bg.png");
     background-repeat: no-repeat;
     margin: 0 auto;
    
}

.contact-btn {

width: 208px;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
background-color: rgb(13, 19, 33);
color: white;
border-radius: 8px;
}
.hero-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.hero-container a{
    text-decoration: none;
}
.hero h2{
 font-size: 48px;
font-weight: 800;
margin-top: 32px;
margin-bottom: 24px;
}
.hero p{
     margin-top: 24px;
     margin-bottom: 32px;
}
.hero img{
     margin-top: 26px;
     margin-bottom: 32px;
}

/* hero section's style ends here */


/* why web development section starts here */

.why{
     max-width: 1140px;
     height: 1393px;
     background-color: rgba(13, 19, 33, 0.02);
     margin: 74px auto 90px;
     border-radius: 18px;
     padding-top: 30px;
}
.answer-why{
     width: 852px;
     height: 113px; 
     margin: 0 auto 48px;
}
.discussion{
    
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}
.webframe{
     width: 946px;
height: 336px;
margin: 0 auto 24px;
border-radius: 18px;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.web-img{
     width: 206.4px;
height: 187.32px;
margin: 70px 48px 48px 48px;
}
.web-img img{
     width: 100%;
     height: 100%;
}
.why-btn{
     color:  rgb(13, 19, 33);
     background-color: white;
     font-size: 20px;
     font-weight: 600;
     width: 150px;
     height: 48px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 10px 15px;

}





/* why web development section ends here */

/* my inspiration style starts here */

.inspiration{
     max-width: 1140px;
     height: 775px;
     margin: 90px auto 151px;
     
}
.inspiration-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
.inspiration-container h4{
 
     margin-bottom: 12px;

}

.yt-video{
     margin-top: 48px;
     border: 2px solid rgba(128, 128, 128, 0.3);
     border-radius: 18px;
     padding: 32px;
}
 .inspiration-container iframe{   
     border-radius: 18px;
}


/* my inspiration style ends here */

/* current-target style starts here */
.current-target{
    max-width: 1140px;
    height: 460px;
    margin: 151px auto 49px;

}
.target-description{
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
    

}
.target-description h3{
     margin-bottom:5px;

}
.target-description p{
     margin-bottom: 48px;
}
.target-items{
     max-width: 1140px;
    height: 299px;
     display: flex;
     flex-direction: row;
     gap: 20px;


}
.html{
 
background-color: rgba(255, 76, 30, 0.05);
/* position:absolute; */
border-radius: 18px;
padding: 40px;
width: 364px;
height: 299px;
}
.css{

background-color: rgba(0, 76, 232, 0.05);
border-radius: 18px;
padding: 40px;
width: 364px;
height: 299px;
}
.js{
background-color:rgba(255, 223, 0, 0.05);
border-color: black;
width: 364px;
height: 299px;
border-radius: 18px;
padding: 40px;
}
.target-a{
     color: black;
     font-weight: bold;
}

/* current-target style ends here */

/* footer section style starts here */

.f-class-container{
 max-width: 1140px;
height: 314px;
margin: 150px auto 79px;
border-radius: 18px;
background-color: rgba(0, 0, 0, 0.3);
background-image:url('assets/handshake.jpg');
background-repeat: no-repeat;
background-position:center;
background-blend-mode: overlay;
padding: 64px 48px;
}
.f-class{
     display: flex;
     flex-direction: column;
 
     justify-content: center;
     align-items: center;
}
.f-class h4{
 color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
margin-bottom: 16px;
}
.f-class p{
     color: rgba(242, 235, 222, 1);
     margin-top: 16px;
}
.feedback{
     margin-top: 40px;
     display:flex;
     flex-direction: row;
     gap: 15px;
}
.feedback input[type=text]{
width: 548px;
height: 20px;
border-radius: 9px;
padding: 19px 20px;


}




.submit-btn{
    color:  rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
     width: 125px;
     height: 63px;
     padding: 17px 20px 17px 20px;
     border-radius: 9px;
}
/* commitment style starts here */

.commitment{
     max-width: 1440px;
     height: 100px; 
     margin: 80px auto 0;
     border-bottom-left-radius: 18px;
     border-bottom-right-radius: 18px;
     background-color: rgba(13, 19, 33, 0.03);
     display: flex;
     flex-direction: row;
    justify-content: space-between; 
}

.social-intro{
     max-width: 1140px;
     height: 36px;
     margin: 32px 150px;
     display: flex;
     flex-direction: row;
     gap: 10px;

    
}
.social-intro p{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}
.social-media{
     display:flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 10px;

}

/* commitment style ends here */




/* footer section style ends here */